[submodule "01_UNIT"]
	path = 01_UNIT
	url = https://github.com/george-raz/final_unit.git
[submodule "02_API"]
	path = 02_API
	url = https://github.com/george-raz/final_api.git
[submodule "03_UI"]
	path = 03_UI
	url = https://github.com/george-raz/final_ui.git
